name: Build and Publish to PyPI

on:
  push:
    tags:
      # 通常リリース: 例) v1.2.3
      - "v[0-9]+.[0-9]+.[0-9]+"
      # プリリリースのみ: 例) v1.2.3-rc.1, v1.2.3-beta など(必ず '-' が付く)
      - "v[0-9]+.[0-9]+.[0-9]+-*"

jobs:
  build:
    name: Build package
    uses: ./.github/workflows/build-package.yml

  publish-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: build
    # Only run if pushed by repository owner
    if: github.repository_owner == github.actor
    environment: pypi
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
      contents: read

    steps:
      - name: Download built packages
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
